build/
cmake-cache/
outputs/
*.tr
*.pcap
*.dat
*.project
*.cproject
.vscode/
.DS_Store
.clang-format
.clang-tidy
.editorconfig
.lock-ns3_darwin_build
*.flowmon
*.egg-info
__pycache__/
.ipynb_checkpoints/
